<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container ">
    <th:block th:replace="fragments/navbar"></th:block>
    <th:block th:each="product : ${products}" th:object="${product}">
        <h3 class="text-center" th:text="*{name}"></h3>
        <h3 class="text-center" th:text="*{calories}"></h3>
    </th:block>

</div>
<th:block th:replace="fragments/footer"></th:block>
</body>
</html>