<th:block th:fragment="navbar">
    <nav class="navbar navbar-toggleable-md navbar-white">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand nav-link-black" href="/">My Fit</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item disabled">
                    <a class="nav-link nav-link-black" href="/">Home</a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link nav-link-black" href="/contacts">Contacts</a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN', 'USER')" class="nav-item disabled">
                    <a class="nav-link nav-link-black" href="/modes">Modes</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item disabled">
                    <a class="nav-link nav-link-black" href="/modes/create_mode">Create Mode</a>
                </li>
                <li  sec:authorize="hasRole('ADMIN')" class="nav-item disabled">
                    <a class="nav-link nav-link-black" href="/products/create_product">Create Product</a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN', 'USER')" class="nav-item disabled">
                    <a class="nav-link nav-link-black" href="/products">Products</a>
                </li>
                <li sec:authorize="hasAnyRole('USER')" class="nav-item disabled">
                    <a class="nav-link nav-link-black" href="/notes">Note</a>
                </li>
                <li  sec:authorize="hasRole('USER')" class="nav-item disabled">
                    <a class="nav-link nav-link-black" href="/users/profile">Profile</a>
                </li>

                <li class="nav-item disabled">
                    <a class="nav-link nav-link-black" href="/login">Login</a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link nav-link-black" href="/users/register">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item disabled">
                    <form th:action="@{/logout}" th:method="POST">
                        <button type="submit" class="nav-link nav-link-black">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</th:block>