<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<th:block th:replace="fragments/navbar"></th:block>
<div class="container d-flex justify-content-center">
    <div class="container">
        <img src="/photos/Me-Myself-and-I.png" height="378" width="378"/>
    </div>
    <div  class="container">

        <div class="card" style="width: 25rem;">
            <div class="card-header">Notes</div>

                <th:block th:each="note : ${notes}" th:object="${note}">
                <div class="card-body row">
                        <h3 class=" ml-3 text-left col-sm-8" th:text="*{product}">Product</h3>
                        <h3 class="text-right col-sm-2" th:text="*{quantity}">4</h3>
                </div>
                </th:block>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer"></th:block>
</body>
</html>