<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <!--<title>Mode</title>-->
    <!--<link rel="stylesheet" href="/styles/bootstrap.css">-->
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container ">
    <th:block th:replace="fragments/navbar"></th:block>
    <div >
        <img src="../../static/photos/Me-Myself-and-I.png" height="378" width="378"/>
    </div>
</div>
<th:block th:replace="fragments/footer"></th:block>
</body>
</html>