.navbar-white {
    background-color: #5b0b91;
}

.nav-link-black, .whiteText {
    color: white;
}

.nav-link-black:hover, .whiteText:hover {
    color: #c5c2c6;
}

.nav-link-black:focus, .whiteText {
    color: #c5c2c6;
}

.dropdown-toggle::after {
    display:none
}

footer{
    background-color: #5b0b91;
    padding: 30px;
}

.container{
    margin: 10px;
}

.home{
    color: #5b0b91;
}

.map{
    width: 100%;
    height: 500px;
}

.logout{
    background-color: #5b0b91;
}