<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <!--<title>Create Food Calories</title>-->
    <!--<link rel="stylesheet" href="/styles/bootstrap.css">-->
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container d-flex justify-content-center">
    <th:block th:replace="fragments/navbar"></th:block>
    <form method="post">
        <fieldset>
            <legend class="text-center">Create Food Calories</legend>
            <div class="form-group ">
                <label for="food" class="col-sm-4 col-form-label">Product</label>
                <div class="col-sm-12">
                    <input class="form-control" id="food" name="food" type="text"/>
                </div>
            </div>
            <div class="form-group ">
                <label for="calories" class="col-sm-4 col-form-label">Calories</label>
                <div class="col-sm-12">
                    <input class="form-control" id="calories" name="calories" type="number"/>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-info ">Create</button>
            </div>
        </fieldset>
    </form>
</div>
<th:block th:replace="fragments/footer"></th:block>
</body>
</html>