<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Mode</title>
    <link rel="stylesheet" href="../../static/styles/bootstrap.css">
</head>
<body>
<div class="container ">
    <form method="post">
        <fieldset>
            <legend class="text-center">Create Mode</legend>
            <div class="form-group ">
                <label for="title" class="col-sm-4 col-form-label">Title</label>
                <div class="col-sm-12">
                    <input class="form-control" id="title" name="title" type="text"/>
                </div>
            </div>
            <div class="form-group ">
                <label for="description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-12">
                    <textarea class="form-control" id="description" name="description"></textarea>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-info ">Create</button>
            </div>
        </fieldset>
    </form>
</div>

</body>
</html>