<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <!--<title>Modes</title>-->
    <!--<link rel="stylesheet" href="/styles/bootstrap.css">-->
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container ">
    <th:block th:replace="fragments/navbar"></th:block>
    <th:block th:each="mode : ${modes}" th:object="${modes}">
        <h3 class="text-center" th:text="*{title}"></h3>
        <h3 class="text-center" th:text="*{description}"></h3>
        <button class="btn btn-warning">Read more...</button>
    </th:block>

</div>
<th:block th:replace="fragments/footer"></th:block>
</body>
</html>