<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <!--<title>Mode</title>-->
    <!--<link rel="stylesheet" href="/styles/bootstrap.css">-->
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<th:block th:replace="fragments/navbar"></th:block>
<div class="container ">
    <div >
        <th:block th>
            <h3 class="text-center" th:text="${mode.title}"></h3>
            <h3 class="text-center" th:text="${mode.getDescription()}"></h3>
            <a class="btn btn-secondary" th:href="@{/modes/edit/{id}(id=${mode.id})}">Edit</a>
            <a class="btn btn-secondary" th:href="@{/modes/delete/{id}(id=${mode.id})}">Delete</a>
        </th:block>
    </div>
</div>
<th:block th:replace="fragments/footer"></th:block>
</body>
</html>