<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<th:block th:replace="fragments/navbar"></th:block>

<div class="container-fluid">
    <h2 class=" mt-5 text-center home">EVERYTHING ABOUT SPORTS FOR WOMEN AND MEN</h2>

    <img src="/photos/fitness2.jpg" class="ml-5 mb-5" height="600" width="1200"/>
    <img src="/photos/fitness3.jpg" class="ml-5 mb-5" height="600" width="1200"/>
</div>

<th:block th:replace="fragments/footer"></th:block>
</body>
</html>